.button_type_main {
  background-color: $blue;
  color: $white;
  border-color: $blue;
}

.button_type_main:hover {
  background-color: $hover;
  border-color: $hover;
}

.button_type_main:active {
  background-color: $active;
  border-color: $active;
}
