.input {
  border: 0.1rem solid $grey;
  border-radius: 1.6rem;
  background-color: $white;
  padding: 1.4rem 1.6rem 1.2rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  color: $main;
}

.input::placeholder {
  color: $grey;
}

.input:focus {
  outline: 0.1rem solid $blue;
  border-color: transparent;
}

@media (max-width: 767px) {
  .input {
    padding: 1.3rem 1.6rem;
  }
}
